body {
    font-family: 'Tahoma', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em;
}

.device {
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    min-width: 12em;
}

.activeDevice {
    /*background: linear-gradient(#6cff00, #58ce01);*/
    background: linear-gradient(white, lightgrey);
    border: 3px solid #00ff00;
}

.inactiveDevice {
    /*background: linear-gradient(#b5b5b5, #989897);*/
    background: linear-gradient(white, lightgrey);
    border: 3px solid darkgray;
}

.activeDevice h1, .inactiveDevice h1 {
    font-size: medium;
    margin-top: 0;
}

.device .sleeping {
    min-width: 20px;
    min-height: 15px;
    background: url("../../img/sleeping.png") center no-repeat;
    float: right;
    margin: 0;
}

.device .online {
    min-width: 20px;
    min-height: 15px;
    background: url("../../img/online.png") center no-repeat;
    float: right;
    margin: 0;
}

.device .offline {
    min-width: 20px;
    min-height: 15px;
    background: url("../../img/offline.png") center no-repeat;
    float: right;
    margin: 0;
}

.device .bat4 {
    min-width: 20px;
    min-height: 15px;
    background: url("../../img/bat4.png") center no-repeat;
    float: right;
    margin: 0 3px 0 3px;
}

.device .bat3 {
    min-width: 20px;
    min-height: 15px;
    background: url("../../img/bat3.png") center no-repeat;
    float: right;
    margin: 0 3px 0 3px;
}

.device .bat2 {
    min-width: 20px;
    min-height: 15px;
    background: url("../../img/bat2.png") center no-repeat;
    float: right;
    margin: 0 3px 0 3px;
}

.device .bat1 {
    min-width: 20px;
    min-height: 15px;
    background: url("../../img/bat1.png") center no-repeat;
    float: right;
    margin: 0 3px 0 3px;
}

.device .bat0 {
    min-width: 20px;
    min-height: 15px;
    background: url("../../img/bat0.png") center no-repeat;
    float: right;
    margin: 0 3px 0 3px;
}

.device .type {

}

.device .date {
    font-size: x-small;
    width: 100%;
    text-align: center;
}

.device .data {
    font-weight: bold;
    color: black;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#error {
    z-index: 10;
    float: right;
    border: 3px solid darkred;
    padding: 5px;
    margin: 10px;
    background-color: indianred;
}

.test {
    background-color: black;
}